{% extends 'reservation/base.html' %}
{% block content %}
 <section class="bg-light p-5 rounded mb-5">

             <h2 class="card-text">Редактирование</h2>

        <div class="row justify-content-center">
            <div class="col-lg-8">
                <form method="post" enctype="multipart/form-data">
                   <div class="card-body">
                     {% csrf_token %}
                       {{ form.as_p }}
                    </div>
                    <button type="submit" class="btn btn-primary">
                 Изменить
             </button>
            <a href="{% url 'reservation:reservation_list' %}" class="btn btn-secondary">Отмена</a>

                </form>
            </div>
        </div>
    </section>

{% endblock %}