{% extends 'reservation/base.html' %}
{% load my_tags %}

{% block title %}Информация по столам{% endblock %}

{% block content %}
<section class="bg-light p-5 rounded mb-5">
    <h2>Стол №: {{ table.table_number }}</h2>
     <div class="row justify-content-center">
            <div class="col-lg-8">
                <img class="card-img-top" src="{{ table.photo_table | media_filter }}" alt="Card image cap">
                <p>Расположение: {{ table.location }}</p>
                <p>Вместительность стола: {{ table.table_capacity }} чел.</p>
            <!--    {% if perms.mailing.change_message %}-->

            <!--    {% endif %}-->
                <a href="{% url 'reservation:table_list' %}" class="btn btn-primary">Вернуться к списку</a>
                <a href="{% url 'reservation:table_update' table.pk %}" class="btn btn-secondary">Редактировать</a>
                <a href="{% url 'reservation:table_delete' table.pk %}" class="btn btn-danger">Удалить</a>

            </div>
        </div>
    </section>
{% endblock %}