<footer class="container py-5">
  <div class="row">
    <div class="col-6 col-md">
      <h5>Контакты</h5>
      <ul class="list-unstyled text-small">
        <li><a class="link-secondary text-decoration-none" href="#">тел.: +7(343)-xxx-xxx-xx</a></li>
        <li><a class="link-secondary text-decoration-none" href="#">Telegram:@Restor</a></li>
        <li><a class="link-secondary text-decoration-none" href="#">Почта: rest@example.com</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Наш адрес</h5>
      <ul class="list-unstyled text-small">
        <li><a class="link-secondary text-decoration-none" href="#">г. Энск, ул. Вкусная, д. 7</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Обратная связь</h5>
    </div>

  </div>
</footer>