<!-- Навигация -->
<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container">
        <!-- Логотип (опционально) -->
        <a class="navbar-brand d-lg-none" href="#">sweet life</a>

        <!-- Кнопка для мобильных -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Основное меню -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <!-- Центрированные ссылки -->
            <ul class="navbar-nav mx-auto">  <!-- mx-auto выравнивает по центру -->
                <li class="nav-item"><a class="nav-link active" href="#">Главная</a></li>
                <li class="nav-item"><a class="nav-link" href="#">О ресторане</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Бронирование</a></li>
            </ul>

            <!-- Личный кабинет (справа) -->
            <div class="d-flex ms-lg-auto">  <!-- ms-lg-auto сдвигает вправо -->
                <a href="#" class="btn btn-outline-light btn-sm">Личный кабинет</a>
            </div>
        </div>
    </div>
</nav>