{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container">
        <!-- Логотип (опционально) -->
        <a class="navbar-brand" href="{% url 'reservation:home' %}">
            <img src="{% static '/images/logo1.png' %}"
                 alt="Логотип Sweet Life"
                 height="80"
                 class="d-inline-block align-top me-2">
            <span class="d-none d-sm-inline">Sweet Life</span>
        </a>


        <!-- Кнопка для мобильных -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Основное меню -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <!-- Центрированные ссылки -->
            <ul class="navbar-nav mx-auto">  <!-- mx-auto выравнивает по центру -->
                <li class="btn btn-link nav"><a class="nav-link" href="{% url 'reservation:home' %}">Сайт ресторана</a></li>
                <li class="btn btn-link nav"><a class="btn btn-link nav" href="{% url 'admin_page:admin_page' %}">Админ</a></li>
            </ul>


            </div>
        </div>
</nav>