<style>
/* Оконтовка текста */
     .text-outline {
    text-shadow:
      -1px -1px 0 #000,
       1px -1px 0 #000,
      -1px  1px 0 #000,
       1px  1px 0 #000;
  }
  .text-outline-thick {
    text-shadow:
      -2px -2px 0 #000,
       0px -2px 0 #000,
       2px -2px 0 #000,
      -2px  0px 0 #000,
       2px  0px 0 #000,
      -2px  2px 0 #000,
       0px  2px 0 #000,
       2px  2px 0 #000;
  }

  /* Стили галереи */
    .gallery-item {
        position: relative;
        overflow: hidden;
        transition: transform 0.3s;
    }
    .gallery-item:hover {
        transform: scale(1.03);
    }
    .overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(93, 64, 55, 0.8);
        color: white;
        padding: 10px;
        transform: translateY(100%);
        transition: transform 0.3s;
        text-align: center;
    }
    .gallery-item:hover .overlay {
        transform: translateY(0);
    }
    .bg-cover {
        background-size: cover;
    }
    .object-fit-cover {
        object-fit: cover;
    }
     /* анимация */
    .card {
    transition: transform 0.3s; /* Плавное изменение свойства transform в течение 0.3 секунды */
    }
    .card:hover {
    transform: translateY(-10px); /* Сдвигает элемент на 10 пикселей вверх по оси Y */
    }
</style>