{% extends 'admin_page/base.html' %}
{% load static %}
{% block content %}
 <section class="bg-light p-5 rounded mb-5">
        {% if object %}
             <h2 class="text-center mb-4">Редактирование</h2>
             {% else %}
             <h2 class="text-center mb-4">Создание</h2>
                {% endif %}
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <form method="post" enctype="multipart/form-data">
                   <div class="card-body">
                     {% csrf_token %}
                       {{ form.as_p }}
                    </div>
                    <button type="submit" class="btn btn-primary">
                 {% if object %}
                 Изменить
                 {% else %}
                 Сохранить
                {% endif %}
             </button>
            <a href="{% url 'admin_page:employee_list' %}" class="btn btn-secondary">Отмена</a>

                </form>
            </div>
        </div>
    </section>

{% endblock %}
