{% load static %}

<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Админка</title>
    <link href="{% static '/css/bootstrap.min.css' %}" rel="stylesheet"/>

</head>
<body>
{% include 'reservation/includes/top_menu.html' %}
 <section class="bg-light p-5 rounded mb-5">
        {% if object %}
             <h2 class="text-center mb-4">Редактирование</h2>
             {% else %}
             <h2 class="text-center mb-4">Создание</h2>
                {% endif %}
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <form method="post" enctype="multipart/form-data">
                   <div class="card-body">
                     {% csrf_token %}
                       {{ form.as_p }}
                    </div>
                    <button type="submit" class="btn btn-primary">
                 {% if object %}
                 Изменить
                 {% else %}
                 Сохранить
                {% endif %}
             </button>
            <a href="{% url 'reservation:employee_list' %}" class="btn btn-secondary">Отмена</a>

                </form>
            </div>
        </div>
    </section>

</body>
</html>
